@import url('root.css');

nav {
    position: relative;
}

.banner {
    /* padding-top: calc(88px);  */
    padding-bottom: 2rem;
    background: url(../images/bannerAbout.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.banner > .container-fluid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
}

.banner-text {
    width: 50%;
    color: #FFF;
    margin-bottom: 2rem;
}

.banner-text > h1 {
    font-weight: 400;
    font-size: 2em;
    line-height: 1.5;
    letter-spacing: 1px;
}

.banner-text > span {
    display: block;
    padding: 1.5rem 0 1rem;
    letter-spacing: 1px;
}

/* Section Vision */
.vision {
    padding: 3rem 0;
}

.vision > .container-fluid {
    display: block;
}

.vision ul {
    display: flex;
}

.vision ul > li {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.25em;
    color: #959595;
    border-bottom: 1px solid #959595;
    cursor: pointer;
}

.vision ul > li.active {
    border-bottom: 2px solid #2c2c2c;
    color: #2c2c2c;
}

.vision-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.vision-container h2 {
    font-size: 3.5em;
    padding: 1rem 0;
}

.vision-container h2 span {
    color: var(--primary-color);
}

.vision-container p {
    line-height: 1.8;
    padding: 1rem 0;
    width: 80%;
}

.vision-container > div:first-child {
    align-self: center;
}

.vision-container > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-container img {
    width: 450px;
    max-width: 100%;
}

/* ISO */
.iso {
    margin: 5rem 0;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iso > img {
    height: 100px;
    transform: scale(2);
}

.iso h2 {
    font-weight: 300;
    color: #007fbe;
    font-size: 1.6rem;
    margin-left: 5rem;
    line-height: 1.5;
    padding: 1rem;
}

/* Section Quote */
.quote {
    margin: 3rem 0;
    background: linear-gradient(350deg, #F9F9F9 40%, transparent 0%);
}

.quote > .container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.quote img {
    width: 400px;
    max-width: 100%;
}

.quote p {
    font-size: 2.75em;
    text-align: right;
    font-weight: 400;
    margin-top: 2rem;
}

.quote p::before, .quote p::after {
    content: '"';
    font-weight: bold;
}

.quote p span {
    color: var(--primary-color);
}

.quote-desc {
    text-align: right;
    margin: 3rem 0 1rem;
    font-size: 1.25em;
}

.quote-desc div:last-child {
    font-weight: 400;
}

/* Section Office */
.office {
    padding: 3rem 0;
}

.office > .container-fluid {
    display: block;
}

.office h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
}

.office-img-container {
    background-color: #959595;
    height: 420px;
    margin: 2rem 0;
}

/* Section Collab */
.collab {
    padding: 3rem 0;
    margin-bottom: 3rem;
}

.collab-container {
    background-color: var(--primary-color);
    padding: 4rem 6rem;
    width: 100%;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.collab-container h2 {
    font-size: 2em;
}

.collab-container p {
    font-size: 1.5em;
    font-weight: 400;
    padding: .5rem 0;
}

.collab-container button {
    display: block;
    align-self: center;
    padding: 1rem 2.5rem;
    font-size: 1.25em;
    font-family: Raleway;
    border: 0;
    outline: none;
    background-color: var(--accent-color);
    color: #FFF;
}

/* Section Tech Partner */
.tech-partner {
    padding: 2rem 0;
}

.tech-partner > .container-fluid {
    display: block;
    text-align: center;
}

.tech-partner > .container-fluid > span {
    font-size: 1.25em;
}

.tech-partner > .container-fluid > h2 {
    font-size: 2.25em;
    padding: .5rem 0;
}

.tech-partner-container {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tech-partner-container > div {
    width: 200px;
    height: 100px;
    background-color: #959595;
    margin: .25rem;
}

/* Phone Responsive */
@media all and (max-width: 320px) and (max-height: 480px) {
    :root {
        overflow-x: hidden;
    }
    
    /* banner */
    .banner {
        background: rgba(0, 127, 142, 1);
        height: 80vh;
        padding-bottom: 0;
    }

    .banner > .container-fluid {
        align-items: center;
        justify-content: center;
    }

    .banner-text {
        width: 90%;
        margin-bottom: 0;
    }

    .banner-text > h1 {
        color: white; /* change later */
        font-size: calc(2em - 6px);
        text-align: center;
    }

    .banner-text > span {
        text-align: center;
        font-size: 1.25em;
    }

    /* vision */
    .vision {
        padding: 2rem 0;
    }

    .vision-container h2 {
        font-size: calc(3.5em - 1.5em);
    }

    .vision ul  {
        width: 100%;
        margin-block-end: 0;
        padding-left: 1.5rem;
    }

    .vision-container {
        display: grid;
        grid-template-columns: 4fr .5fr;
    }

    .vision-container h2, .vision-container p{
        padding: 1rem 0 0 .75rem;
    }

    .vision-container img {
        display: none;
    }

    /* iso */
    .iso {
        margin: 0;
    }

    .iso > img {
        padding-left: .75rem;
        transform: scale(1.5);
    }

    .iso h2 {
        font-size: calc(1.6rem - .65rem);
        margin: 1rem 0 1rem 0;
        text-align: right;
        padding-left: 2rem;
    }

    /* quote */

    .quote {
        margin: 0rem 0;
        height: 80vh;
        background: linear-gradient(350deg, #F9F9F9 30%, transparent 0%);
    }

    .quote p {
        font-size: calc(2.75em - 1.5em);
        margin-right: .75rem;
    }

    .quote img {
        margin-top: 12rem;
    }

    .quote-desc {
        font-size: calc(1.25em - .25em);
        margin-right: .75rem;
        margin-top: 6rem
    }

    /* office */

    .office h2 {
        font-size: calc(2.5em - .75em);
    }

    .office-img-container {
        margin: 2rem 2rem 0 2rem;
        height: 360px;
    }

    /* Collab */
    .collab {
        padding: 1rem 0;
        max-width: 100vw;
        overflow: hidden;
        margin-bottom: 1.25rem;
    }

    .collab-container {
        padding: 2rem 1rem;
    }

    .collab-container h2{
        font-size: 1.4em;
    }

    .collab-container p {
        font-size: 1em;
    }

    .collab-container button {
        padding: .5rem 1rem;
        font-size: 1em;
        border-radius: 4px;
    }

    /* Tech partner */
    .tech-partner {
        padding: 1rem 0;
    }

    .tech-partner > .container-fluid > span {
        font-size: 1.25em;
    }

    .tech-partner > .container-fluid > h2 {
        font-size: 1.5em;
    }

    .tech-partner-container {
        justify-content: flex-start;
        margin-left: 2px;
    }

    .tech-partner-container > div {
        width: 150px;
        height: 100px;
    }
}