@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #007F8E;
    --secondary-color: #00B3C8;
    --gray-color: #ECECEC;
    --accent-color: #F36523;
    font-size: 16px;
    font-family: Raleway;
    color: #2C2C2C;
    --caroussel-width: 50vw;
    --caroussel-height: 10vh;
    --caroussel-elements-displayed: 5;
    --caroussel-element-width: calc(var(--caroussel-width) / var(--caroussel-elements-displayed));
    --caroussel-animation-duration: calc(var(--caroussel-elements) * 3s);
}

*, *::before, *::after {
    box-sizing:border-box;
}

* {
    margin: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

img, picture, video, canvas, svg, iframe {
    display: block;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    caption-side: bottom;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}

main {
    position: relative;
}

nav{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: .3s;
}

nav.scrolled {
    background-color: #F9F9F9;
}

.container-fluid{
    display:-ms-flexbox;
    display:flex;
    /* -ms-flex-wrap:wrap; */
    /* flex-wrap:wrap; */
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:justify;
    justify-content:space-between;
    width: 80%;
    max-width: 1920px;
    margin: auto;
}

/* Nav */
nav > .container-fluid > div:first-child {
    display: flex;
}

nav > .container-fluid > div > a {
    margin-right: 2rem;
}

.navbar-nav{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:row;
    flex-direction:row;
    padding-left:0;
    margin-bottom:0;
    list-style:none;
}

.nav-item {
    text-align: center;
    color: black;
    align-self: center;
    padding: 1rem;
    position: relative;
    cursor: pointer;
}

.nav-item:hover > ul {
    display: block;
}


.nav-item > ul {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #E6F2F4; /* Ga tau warna */
    border-radius: 10px;
    color: var(--primary-color);
    width: 200px;
    display: none;
    transition: .3s;
}

.nav-item > ul > li:hover {
    background-color: #007F8E;
    border-radius: 10px;
    color: #fff;
}

.nav-item > ul > li > a {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    width: 200px;
}

.active {
    font-weight: 600;
}

nav > .container-fluid > div:last-child {
    display: flex;
    align-items: center;
}

nav > .container-fluid > div:last-child a {
    color: #959595;
}

.account-img {
    position: relative;
    cursor: pointer;
}

.account-menu {
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 2rem;
    background-color: #E6F2F4;
    border-radius: 10px;
}

.account-menu > ul > li > a {
    display: block;
    padding: .75rem 5rem .75rem 1rem;
    text-align: left;
    color: var(--primary-color) !important;
}

/* Footer */
.footer {
    padding: 3rem 0 1rem;
    background-color: #F9F9F9;
}

.footer-first-layer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-first-layer p {
    width: 80%;
    color: #2C2C2C;
    line-height: 1.7;
    margin: 1rem 0;
}

.footer-first-layer img {
    max-width: 100%;
}

.footer-first-layer > div {
    margin: 1rem 0;
}

.footer-first-layer b {
    font-size: 1.25em;
}

.footer-first-layer ul {
    padding-left: 1rem;
    margin-bottom: 3rem;
}

.footer-first-layer ul > li > a {
    display: block;
    margin: .75rem 0;
    color: #2C2C2C;
}

.footer-container > hr {
    border: 1px solid rgb(149, 149, 149, 0.5);
    height: 0;
}

.footer-second-layer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding: 2rem 0;
}

.footer-second-layer p {
    line-height: 1.8;
    color: #2C2C2C;
    width: 85%;
}

.footer-second-layer ul li {
    margin-bottom: .5rem;
}

.footer-icon {
    display: flex;
    justify-content: flex-end;
}

.footer-icon span {
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    background-color: #2C2C2C;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 1rem;
}

.copyright {
    padding: 1.75rem 0;
}

.copyright span {
    margin-right: 1rem;
}

.copyright a {
    margin: 0 1rem;
}

/* ScrollToTop */
.scrollToTop {
    position: fixed;
    bottom: 10%;
    right: 5%;
    display: none;
    transition: .3s;
}

.scrollToTop:hover span {
    transition: 1s;
    height: 100px;
}

.scrollToTop > div {
    position: relative;
}

.scrollToTop a {
    font-size: 2em;
    width: 40px;
    height: 40px;
    background-color: #cdecf1;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #DDD;
}

.scrollToTop span {
    transition: .5s;
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    transform: translateX(-20px);
    width: 100px;
    color: var(--primary-color);
    overflow: hidden;
    height: 0;
}