@import url('root.css');


/* Section Banner */
.banner {
    padding: 3rem 0;
    padding-top: 88px;
}

.banner > .container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-title {
    font-size: 3em;
    padding: 2rem 0;
}

.banner-title span {
    color: var(--primary-color);
}

.banner-desc {
    text-align: right;
    padding: 2rem 0;
    font-size: 1.25em;
    line-height: 1.5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 90%;
}

.banner-desc p {
    width: 80%;
}

/* Section Feature */
.feature {
    padding: 3rem 0;
    background-color: #F9F9F9;
}

.feature-desc p {
    line-height: 1.5;
    padding: 1rem 0;
    letter-spacing: 1px;
}

.feature-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.feature-card-container span {
    background-color: rgb(0, 127, 142, 0.1);
    padding: .75rem 1rem;
    display: block;
    color: var(--primary-color);
    border-radius: 4px;
    display: flex;
}

.feature-card-container span i {
    background-color: rgb(0, 127, 142, 0.1);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: .5rem;
    font-weight: bold;
}

.feature-title h2 {
    font-size: 2.5em;
    text-align: right;
    letter-spacing: 1px;
}

.feature-title h2 span {
    color: var(--primary-color);
}

.feature-title a {
    text-align: right;
    display: block;
    margin-top: 2rem;
    color: #959595;
    /* font-size: 1.25em; */
}

/* Section Product */
.product {
    padding: 5rem 0;
}

.product > .container-fluid {
    display: block;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-header h2 {
    font-size: 2.5em;
}

.product-header h2 span {
    color: var(--primary-color);
}

.product-category ul {
    display: flex;
    background-color: rgb(0, 127, 142, 0.1);;
    border-radius: 10px;
}

.product-category ul li {
    padding: 1rem 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}

.product-category ul li.active {
    background-color: var(--primary-color);
    border-radius: 10px;
    color: #FFF;
}

.product-category a {
    display: block;
    text-align: right;
    padding: .75rem 0;
    color: #959595;
}

.product-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 2rem 0;
    gap: 2.5rem;
    margin-top: 3rem;
}

.product-card-container > div {
    border: 1px solid rgb(0, 127, 142, 0.1);
    border-radius: 10px;
    padding: 2rem;
}

.product-card-container > div h3 {
    font-size: 1.5em;
    color: var(--primary-color);
}

.product-card-container > div hr {
    border: 1px solid var(--primary-color);
    width: 30%;
    height: 0;
    margin: 1.5rem auto;
}

.product-card-container > div .price {
    color: #959595;
}


.product-card-container > div .price span {
    color: var(--primary-color);
    font-weight: bold;
    display: block;
    font-size: 2.5em;
}

.product-card-container > div ul {
    padding: 2rem 0;
}

.product-card-container > div ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
}

.product-card-container > div ul li i {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 127, 142, 0.1);
    border-radius: 50%;
    color: var(--primary-color);
    margin-right: .5rem;
}

.best-seller {
    padding: 0 !important;
    border: 1px solid var(--primary-color) !important;
    transform: scale(1.1);
}

.best-seller > div:first-child {
    background-color: var(--primary-color);
    color: #FFF;
    padding: .5rem 0;
    border-radius: 8px 8px 0 0;
}

.best-seller > div:last-child {
    padding: 2rem !important;
}

.product-card-container > div button {
    padding: .75rem 2rem;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 0;
    color: #FFF;
    cursor: pointer;
    width: 100%;
}

/* Section Service */
.service {
    padding: 3rem 0;
}

.service > .container-fluid {
    display: block;
}

.service h2 {
    text-align: center;
    font-size: 2.5em;
}

.service h2 span {
    color: var(--primary-color);
}

.service-container {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.service-card {
    background-color: #F9F9F9;
    border-radius: 10px;
    text-align: center;
    padding: 1.5rem 2rem;
    border: 1px solid #F9F9F9;
}

.service-card h3 {
    font-size: 1.75em;
}

.service-card hr {
    width: 20%;
    margin: 1rem auto;
    border: 1px solid #9595953a;
    height: 0;
}

.service-card p {
    text-align: left;
}

.service-card ul {
    text-align: left;
    margin: 1rem 0;
}

.service-card ul li {
    padding: .25rem 0;
    display: flex;
    align-items: center;
}

.service-card ul li i {
    width: 25px;
    height: 25px;
    background-color: rgb(0, 127, 142, 0.1);
    color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.service-card button {
    display: block;
    margin: auto;
    padding: .75rem 2rem;
    margin-top: 2rem;
    background-color: rgb(0, 127, 142, 0.1);
    color: var(--primary-color);
    border-radius: 4px;
    border: 0;
}

.service-card:last-child button {
    cursor: pointer;
}

.service-card a {
    display: block;
    margin: .75rem 0;
    color: #959595;
}

.service-card:first-child {
    background-color: transparent;
    border: 1px solid #9595953b;
}

/* .service-card:first-child button {
    background-color: #E5E5E5;
    border: 1px solid #959595;
    color: #2c2c2c;
} */

/* Section Tech Partner */
.tech-partner {
    padding: 2rem 0;
}

.tech-partner > .container-fluid {
    display: block;
    text-align: center;
}

.tech-partner > .container-fluid > span {
    font-size: 1.25em;
}

.tech-partner > .container-fluid > h2 {
    font-size: 2.25em;
    padding: .5rem 0;
}

.tech-partner-container {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tech-partner-container > div {
    width: 200px;
    height: 100px;
    background-color: #959595;
    margin: .25rem;
}

/* Tablet Responsive */
@media all and (max-width: 768px){

    :root {overflow-x: hidden;}

    /* banner */
    .banner-title {
        font-size: 2em;
    }

    .banner-desc {
        padding: 2rem 0;
        padding-right: 1rem;
    }

    /* feature */
    .feature-card-container span {
        padding: .5rem .75rem;
    }

    /* product */
    .product {
        padding: 4rem 0;
    }

    .product-card-container {
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-left: .75rem;
        margin-right: .75rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem;
    }

    .product-card-container > div {
        flex: 0 0 auto;
        margin-bottom: 2.5rem;
    }

    /* service */
    .service {
        padding: 2rem 0;
    }

    /* tech partner */
    .tech-partner > .container-fluid > span {
        font-size: 1.5em;
    }

    .tech-partner > .container-fluid > h2 {
        width: 90%;
    }

}

/* Phone Responsive */
@media all and (max-width: 320px){

    /* banner */
    .banner {
        height: 100vh;
        margin-right: 1rem;
    }

    .banner-title h1 {
        font-size: 2rem;
    }

    .banner > .container-fluid {
        grid-template-columns: .5fr 1fr;
    }

    .banner-desc {
        font-size: .75em;
        padding-right: 0;
    }

    .best-seller {
        transform: scale(1);
    }

    /* feature */
    .feature {
        width: 100%;
    }
    
    /* Product */

    .product {
        padding: 2rem 0;
        width: 100%;
    }

    .product-card-container {
        grid-template-columns: .1fr .1fr .1fr .1fr;
        gap: 1.5rem;
    }

    .product-card-container > div h3 {
        font-size: calc(1.5em - .1em);
    }

    .product-card-container > div hr {
        width: 30%;
        margin: .8rem auto;
    }

    .product-card-container > div .price span {
        font-size: calc(2.5em - .4em);
    }

    .product-card-container > div ul li {
        font-size: 12px;
    }

    .product-card-container > div button {
        padding: .8rem 1rem;
    }

    .product-header {
        margin-left: .3rem;
        margin-right: .3rem;
    }

    .product-header h2 {
        font-size: 1.5em;
    }

    /* Service */
    .service {
        padding: 1.5rem 0;
        width: 100%;
    }
    
    .service-container {
        display: flex;
        grid-template-columns: 0;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-left: .75rem;
        margin-right: .75rem;
    }

    .service-container > div {
        flex: 0 0 wrap;
    }

    .service h2{
        font-size: calc(2.5em - .5em);
    }

    .service-card {
        padding: 1rem 1.5rem;
    }

    .service-card h3 {
        font-size: calc(1.75em - .35em);
    }

    .sarvice-card hr {
        margin: .8rem auto;
    }

    .service-card p{
        font-size: 13px;
        line-height: 1.3;
        text-align: center;
    }

    .service-card ul {
        font-size: 12px;
    }

    /* Tech partner */
    .tech-partner {
        padding: 1rem 0;
    }

    .tech-partner > .container-fluid {
        width: 100%;
    }

    .tech-partner > .container-fluid > span {
        font-size: 1.25em;
    }

    .tech-partner > .container-fluid > h2 {
        font-size: 1.2em;
    }

    .tech-partner-container {
        justify-content: flex-start;
        margin-left: 2px;
    }

    .tech-partner-container > div {
        width: 130px;
        height: 100px;
    }
}